# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    exclude_types: [svg]
  - id: end-of-file-fixer
    exclude_types: [svg]
  - id: check-yaml
  - id: pretty-format-json
    args: [--autofix, --no-sort-keys]
  - id: check-added-large-files
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
    exclude_types: [json, svg]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.9
  hooks:
  - id: actionlint
    args: [-ignore, SC2086, -ignore, SC2046]
- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    args: [--max-line-length=88]
- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
  - id: isort
    args: [--profile=black]
