repos:
 - repo: https://github.com/pre-commit/pre-commit-hooks
   rev: v6.0.0
   hooks:
     - id: check-yaml
     - id: end-of-file-fixer
     - id: trailing-whitespace
     - id: check-json                    # Validates JSON syntax
     - id: pretty-format-json            # Formats JSON files
       args: ['--autofix', '--indent=2']
